$colorPrimary: rgb(255, 140, 0);
$colorPrimaryDark: rgb(255, 120, 0);

.bg-primary-color {
  background-color: $colorPrimary !important;
}

.btn-primary:not(:disabled):not(.disabled),
.btn-primary:not(:disabled):not(.disabled):visited{
  background-color: $colorPrimary;
  border-color: $colorPrimaryDark;
}

.btn-primary:hover:not(:disabled):not(.disabled):hover{
  background-color: $colorPrimary;
  border-color: $colorPrimaryDark;
  box-shadow: 0 0 0 .2rem $colorPrimaryDark;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus:not(:disabled):not(.disabled):focus {
  background-color: $colorPrimaryDark;
  border-color: $colorPrimaryDark;
  box-shadow: 0 0 0 .2rem $colorPrimaryDark;
}

.btn-primary.disabled {
  background-color: gray;
  border-color: darkgray;
}
