<header
  class="pf-c-masthead pf-m-display-inline pf-m-display-stack-on-lg pf-m-display-inline-on-2xl"
  id="stack-inline-masthead"
>
  <span class="pf-c-masthead__toggle">
    <button
      class="pf-c-button pf-m-plain"
      type="button"
      aria-label="Global navigation"
      (click)="onDrawer.emit()"
    >
      <i class="fas fa-bars" aria-hidden="true"></i>
    </button>
  </span>
  <div class="pf-c-masthead__main">
    <a class="pf-c-masthead__brand" href="/">
      <img src="assets/img/rynkbit-dark.png" width="64" >
    </a>
  </div>
  <div class="pf-c-masthead__content">
    <!--    <span>Content</span>-->
  </div>
</header>
