<div class="pf-c-drawer pf-m-inline pf-m-panel-left" [class.pf-m-expanded]="showDrawer">
  <div class="pf-c-drawer__main">
    <div class="pf-c-drawer__content">
      <div
        class="pf-c-drawer__body"
      >
        <ng-content></ng-content>
      </div>
    </div>
    <div class="pf-c-drawer__panel">
      <div class="pf-c-drawer__body">
        <div class="pf-c-drawer__head">

          <div class="pf-c-drawer__actions">
            <div class="pf-c-drawer__close">
              <button
                class="pf-c-button pf-m-plain"
                type="button"
                aria-label="Close drawer panel"
                (click)="toggleDrawer()"
              >
                <i class="fas fa-times" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <app-routing></app-routing>

        </div>
      </div>
    </div>
  </div>
</div>

