<div class="row mt-4">
  <div class="col-sm-12 col-md-6 col-lg-4 mt-2">

    <app-portfolio-card imgAlt="CoffeeBank Settings"
                        imgSrc="assets/img/coffeebank/settings.png"
                        [isAvailable]="true"
                        link="/coffeebank"
                        title="CoffeeBank">
     An Android app to manage customers, products and the transactions of those.
    </app-portfolio-card>

  </div>
<!--  <div class="col-sm-12 col-md-6 col-lg-4 mt-2">-->

<!--    <app-portfolio-card [imgAlt]="'RynkBit Web'"-->
<!--                        [imgSrc]="'assets/img/rynkbit/rynkbit.png'"-->
<!--                        [isAvailable]="false"-->
<!--                        [link]="'#'"-->
<!--                        [title]="'RynkBit Website'">-->
<!--      This website that is written in Angular 2+ and styled with SCSS-->
<!--    </app-portfolio-card>-->

<!--  </div>-->
  <div class="col-sm-12 col-md-6 col-lg-4 mt-2">

    <app-portfolio-card imgAlt="Smart Coffee"
                        imgSrc="assets/img/smartcoffee/smartcoffee_card.png"
                        [isAvailable]="false"
                        link="#"
                        title="SmartCoffee Coffee Machine">
      A RaspberryPi glued to a coffee machine, making it a perfect alarm clock.
    </app-portfolio-card>

  </div>
</div>
