<div class="row mt-4">
  <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
    <div class="card portfolio-card" >
      <img class="card-img-top portfolio-card-img" src="assets/img/coffeebank/settings.png" alt="CoffeeBank Settings">
      <div class="card-body">
        <h5 class="card-title">CoffeeBank</h5>
        <p class="card-text">An Android app to manage customers, products and the transactions of those.</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
    <div class="card portfolio-card" >
      <img class="card-img-top portfolio-card-img" src="assets/img/rynkbit/rynkbit.png" alt="RynkBit Web">

      <div class="card-body">
        <h5 class="card-title">RynkBit Website</h5>
        <p class="card-text">This website that is written in Angular 2+ and styled with SCSS</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
    <div class="card portfolio-card" >
      <img class="card-img-top portfolio-card-img" src="assets/img/smartcoffee/smartcoffee_card.png" alt="Smart Coffee">
      <div class="card-body">
        <h5 class="card-title">SmartCoffee Coffee Machine</h5>
        <p class="card-text">A RaspberryPi glued to a coffee machine, making it a perfect alarm clock.</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>
